@import "reset";
@import "mixins";
@import "media";

.container {
  box-sizing: border-box;
  margin: 0;
  background-color: #202020;
  max-width: 100%;
}

.header {
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
  position: relative;
  max-width: 100%;
  height: 100vh;

  .nav {
    @include flex(row, space-between);
    width: 100%;
    position: fixed;
    z-index: 10;
    padding: 18px 195px;
    box-sizing: border-box;
    background: none;
    transition: 1s;

    .nav__logo {
      display: block;
      width: 56px;
      height: 56px;
      background-image: url("/images/icons/hope.svg");
      background-repeat: no-repeat;
      align-self: center;
    }

    .nav-menu {
      @include flex(row, $gap: 20);
      align-items: center;

      .nav-menu__item {
        @include flex(row, $gap: 12);
        @include txt($weight: 700);
        @include menu-item;

        .nav-menu__item-img {
          height: 16px;
          width: 16px;
        }
      }
    }

    .burger-menu {
      display: none;
      position: relative;



      .burger-menu__button {
        display: block;
        width: 16px;
        height: 16px;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid #FFF;
        background-image: url("/images/icons/burger-menu.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      .burger-menu__nav {
        display: none;
        position: absolute;
        right: 0;
        top: 66px;

        .burger-menu__nav-menu {
          @include flex($gap: 10);

          .burger-menu__item {
            @include flex(row, $gap: 12);
            @include txt(#374957, $weight: 700);
            @include menu-item;
          }
        }
      }
    }
  }

  .header__title {
    @include txt-title(#fff, 80);
    position: absolute;
    bottom: 110px;
    left: 190px;
    width: 850px;
  }
}

.header {
  .nav.active {
    background: black;
  }
  .burger-menu.open{
    .burger-menu__nav{
      display: block;
    }
  }
}

.main {
  width: 100%;
  @include  flex;

  .meet-alex {
    padding: 100px 190px;
    @include flex($gap: 40);
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      border-radius: 100%;
      border: 1px solid #737373;
      width: 268px;
      height: 512px;
      transform: rotate(-45deg);
      position: absolute;
      right: 0;
      top: -30px;
    }

    &:after {
      content: "";
      border-radius: 100%;
      border: 1px solid #737373;
      width: 268px;
      height: 512px;
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      top: -30px;
    }

    .meet-alex__title {
      @include txt-title(#FAEB49, 48);
    }

    .meet-alex__description {
      @include txt;
      width: 524px;
    }

    .meet-alex__design {
      @include flex(row, normal, 96);

      .meet-alex__design--number {
        @include flex($gap: 6);
        @include txt-title(#fff, 48);

        .meet-alex__design--description {
          @include txt($weight: 700);
        }
      }
    }
  }

  .mobile-app {
    background-color: #3C3C3C;
    padding: 100px 0 100px 190px;

    .mobil-app__list {
      @include flex(row, normal, 30);
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: flex-end;

      .mobil-app__card {
        @include flex($gap: 22);
        border-radius: 24px;
        background: #FFFEF2;
        padding: 20px;
        width: 316px;
        box-sizing: border-box;
        position: relative;
        margin-top: 34px;

        .arrow {
          position: absolute;
          top: 40px;
          right: 40px;
          width: 56px;
          height: 56px;
          background-color: #fff;
          border-radius: 100%;
          background-image: url("/images/icons/arrow-up.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
        .mobil-app__card--img {
          width: 276px;
          height: 338px;
        }

        .mobil-app__card--title {
          @include txt-title(#565656, 22);
          text-align: start;
          width: 276px;
        }

        .mobil-app__card--description {
          @include txt(#000);
          width: 276px;
        }
      }

      .top-card {
        padding: 24px 20px;
        width: 1008px;
        margin-top: 0;

        .top-card__img {
          width: 968px;
          height: 498px;
        }

        .top-card__title {
          width: 960px;
          @include txt-title(#565656, 40)
        }
        
        .top-card__description {
          width: 580px;
        }
      }
    }
  }

  .graphic-design {
    padding: 100px 0 100px 190px;
    @include flex($gap: 38);

    .graphics-design__title {
      @include txt-title($size: 80)
    }

    .graphic-design__list {
      @include flex(row, normal, 26);
      flex-wrap: wrap;

      .graphic-design__item {
        display: block;
        width: 514px;
        height: 414px;
        background-size: cover;
        border-radius: 40px;
        position: relative;
      }

      .graphic-design__item--top {
        width: 1056px;
        height: 414px;
        background-image: url("/images/graphics-design/newspaper.png");

        &:after {
          content: url("/images/graphics-design/star.svg");
          top: 16%;
          left: 37%;
          position: absolute;
        }
      }

      .graphic-design__item--second{
        width: 514px;
        height: 414px;
        background-image: url("/images/graphics-design/earth.png");

        &:after {
          content: url("/images/graphics-design/butterfly.svg");
          top: 28%;
          left: 32% ;
          position: absolute;
        }
      }

      .graphic-design__item--third {
        width: 514px;
        height: 414px;
        background-image: url("/images/graphics-design/have-droom.png");

        &:after {
          content: url("/images/graphics-design/flower.svg");
          top: 23%;
          left: 27%;
          position: absolute;
        }
      }
    }
  }

  .motto {
    background-image: url("/images/section-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 190px 320px;

    .motto-title {
      @include txt-title($size: 48);
      width: 1060px;
      text-align: center;
    }
  }
}

.footer {
  padding: 78px 262px 30px;
  @include flex;
  align-items: center;

  .new-project {
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    padding: 42px 136px 42px 288px;
    @include txt-title(#fff, 48);
    @include flex($gap: 16);
    position: relative;

    &:after {
      content: url("/images/icons/dawn.svg");
      left: 136px;
      position: absolute;

    }

    .new-project__book {
      @include txt($size: 24);
      @include flex(row, normal, 24);
    }
  }

  .social-list {
    @include flex(row, normal, 34);
    margin-top: 162px;

    .social-list__item {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      display: block;
    }

    .twitch {
      background-image: url("/images/icons/twitch.svg");
    }

    .twitter {
      background-image: url("/images/icons/twitter.svg");
    }

    .instagram {
      background-image: url("/images/icons/instagramm.svg");
    }

    .linkedin {
      background-image: url("/images/icons/linkedin.svg");
    }

  }

  .footer__copyright {
    @include txt;
    margin-top: 20px;
  }
}