@import "mixins";

@media screen and (max-width: 1200px) {

  .header {

    .nav {

      padding: 38px 34px;

      .nav-menu {
        display: none;
      }

      .burger-menu {
        display: block;
      }
    }
    
    .header__title {
      width: 390px;
      bottom: 130px;
      left: 34px;
    }
  }

  .main {
    .meet-alex {
      padding: 100px 30px;

      &:before {
        right: -160px;
        top: -30px;
      }

      &:after {
        right: -160px;
        top: -30px;
      }
    }

    .mobile-app {
      padding: 52px 32px 122px 32px;


      .mobil-app__list {
        justify-content: center;

        .mobil-app__card {
          width: 334px;

          .mobil-app__card--img{
            width: 292px;
            height: 448px;
          }

          .mobil-app__card--title{
            width: 292px;
          }
          
          .mobil-app__card--description {
            width: 292px;
          }
        }

        .top-card {
          width: 702px;

          .top-card__img {
            width: 662px;
            height: 498px;
          }
        }
      }
    }

    .graphic-design {
      padding: 82px 32px;

      .graphic-design__list {
        @include flex(row, normal, $gap: 34);

        .graphic-design__item {
          width: 336px;
          height: 325px;
          background-size: 336px 325px;
        }

        .graphic-design__item--top {
          width: 704px;
          height: 414px;
          background-size: 704px 414px;

          &:after {
            content: url("/images/graphics-design/star-768px.svg");
            top: 23%;
            left: 34%;
          }
        }

        .graphic-design__item--second {
          &:after {
            content: url("/images/graphics-design/butterfly-768px.svg");
            top: 28%;
            left: 28%;
          }
        }

        .graphic-design__item--third {
          &:after {
            content: url("/images/graphics-design/flower-768px.svg");
            top: 22%;
            left: 24%;
          }
        }
      }
    }

    .motto {
      padding: 274px 30px 294px;
      background-position: center;

      .motto-title {
        width: 704px;
      }
    }
  }

  .footer {
    padding: 96px 22px 34px 32px;

    .new-project {
      padding: 20px 136px 20px 182px;

      &:after {
        left: 30px;
      }
    }

    .social-list {
      margin-top: 60px;
    }
  }
}


//-----------------------------------------------------------------------------------------------


@media screen and (max-width: 768px){

  .header {

    .nav {
      padding: 28px 18px;

      .nav-menu {
        display: none;
      }

      .burger-menu {
        display: block;
      }
    }

    .header__title {
      @include txt-title(#fff, 48);
      width: 390px;
      bottom: 150px;
      left: 20px;
    }
  }

  .main {
    .meet-alex {
      padding: 100px 30px;

      &:before {
        width: 168px;
        height: 320px;
        right: -130px;
        top: 15%;
      }

      &:after {
        width: 168px;
        height: 320px;
        right: -130px;
        top: 15%;
      }

      .meet-alex__title {
        @include txt-title(#FAEB49, $size: 36);
        width: 312px;
      }

      .meet-alex__description {
        @include txt($size: 15);
        width: 340px;
      }

      .meet-alex__design {
        .meet-alex__design--number{
          @include txt-title($size: 36);

          .meet-alex__design--description{
            width: 76px;
          }
        }
      }
    }

    .mobile-app {
      padding: 52px 16px 86px 16px;


      .mobil-app__list {
        justify-content: center;

        .mobil-app__card {
          width: 342px;
          padding: 12px;

          .mobil-app__card--img{
            width: 318px;
            height: 362px;
            border-radius: 12px;
          }

          .mobil-app__card--title{
            width: 318px;
          }

          .mobil-app__card--description {
            width: 318px;
          }
        }
      }
    }

    .graphic-design {
      padding: 58px 16px;

      .graphics-design__title {
        @include txt-title ($size: 36);
      }

      .graphic-design__list {
        @include flex(row, normal, $gap: 20);

        .graphic-design__item {
          width: 342px;
          height: 325px;
          background-size: 342px 325px;
        }

        .graphic-design__item--top {
          &:after {
            content: url("/images/graphics-design/star-320px.svg");
            top: 24%;
            left: 26%;
          }
        }

        .graphic-design__item--second {
          &:after {
            content: url("/images/graphics-design/butterfly-320px.svg");
            top: 32%;
            left: 31%;
          }
        }

        .graphic-design__item--third {
          &:after {
            content: url("/images/graphics-design/flower-320px.svg");
            top: 25%;
            left: 28%;
          }
        }
      }
    }

    .motto {
      padding: 180px 16px 172px;
      background-position: center;

      .motto-title {
        @include txt-title($size: 24);
        width: 342px;
      }
    }
  }

  .footer {
    padding: 52px 16px 40px;

    .new-project {
      padding: 15px 30px 15px 102px;
      @include txt-title(#fff, 20);
      @include flex($gap: 4);

      &:after {
        content: url("/images/icons/dawn-320px.svg");
        left: 30px;
      }

      .new-project__book {
        @include txt($size: 15);
        @include flex(row, normal, 24);
        align-items: center;

        .new-project__book--arrow {
          width: 32px;
          height: 15px;
        }
      }
    }

    .social-list {
      margin-top: 112px;
    }

    .footer__copyright {
      @include txt($size: 14);
      margin-top: 20px;
    }
  }
}
