@mixin txt ($color: #FFF, $size: 16, $weight: 500){
  color: $color;
  font-family: "Manrope", sans-serif;
  font-size: $size+px;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin txt-title ($color: #FFF, $size){
  color: $color;
  font-family: "DynaPuff", sans-serif;
  font-size: $size+px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin flex ($direction: column, $justify: normal, $gap: 0){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  gap: $gap+px;
}

@mixin  menu-item {
  align-items: center;
  padding: 10px 16px;
  border-radius: 20px;
  border: 1px solid #FFF;
}

